certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600699246375/work
click==7.1.2
cryptography @ file:///C:/ci/cryptography_1601046905460/work
Flask==1.1.2
Flask-SQLAlchemy @ file:///tmp/build/80754af9/flask-sqlalchemy_1596836624296/work
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyMySQL @ file:///C:/ci/pymysql_1601579814119/work
six==1.15.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1598374833867/work
Werkzeug==1.0.1
wincertstore==0.2
